.group_search {
  display: none;
}

/* reset
---------- ---------- ---------- ---------- ---------- */
* {
  margin: 0;
  padding: 0;
}

body,
input,
select,
textarea,
button {
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', 'Segoe UI', 'Roboto', 'Helvetica Neue',
    'Arial, Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  color: #000;
}

body {
  -webkit-text-size-adjust: none;
}

ol,
ul,
li {
  list-style-type: none;
}

fieldset,
img {
  border: 0 none;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

a:active,
a:hover {
  text-decoration: none;
}

/* global
---------- ---------- ---------- ---------- ---------- */
.invisible {
  display: none;
}

.outer_cell {
  display: table;
}

.inner_cell {
  display: table-cell;
  vertical-align: middle;
}

.group_half {
  font-size: 0;
}

.inner_half {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.section_global {
  margin-top: 24px;
}

/* .hgroup + .group_grade {
  margin-top: 12px;
} */

/* .group_grade + .group_horizontal {
  margin-top: 24px;
} */

/* button
---------- ---------- ---------- ---------- ---------- */
.button_global {
  display: inline-block;
  border: 0 none;
  border-radius: 6px;
  box-sizing: border-box;
  line-height: 1;
  vertical-align: top;
  text-align: center;
}

/* icon
---------- ---------- ---------- ---------- ---------- */
.icon_global {
  display: inline-block;
  overflow: hidden;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 1px;
  line-height: 1;
  color: transparent;
  vertical-align: top;
}

.icon_hamburger {
  width: 32px;
  height: 32px;
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
}

.icon_login {
  width: 32px;
  height: 32px;
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
}

.icon_register {
  width: 32px;
  height: 32px;
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
}

.icon_close {
  width: 32px;
  height: 32px;
  border: 1px solid #e9e9e9;
  background-color: #f1f1f1;
}

/* container
---------- ---------- ---------- ---------- ---------- */
.container {
  position: relative;
  padding: 56px 0 24px 0;
  /* margin-top: 24px; */
  /* padding-top: 68px; */
  /* padding: 113px 0 24px 0; */
}

/* hgroup
---------- ---------- ---------- ---------- ---------- */
/* .hgroup {
  padding: 12px 0 0;
} */

/* group_category
---------- ---------- ---------- ---------- ---------- */
/* .group_category + .section_global {
  margin-top: 12px;
} */

/* group_horizontal
---------- ---------- ---------- ---------- ---------- */
/* .group_horizontal {
  margin: 12px 0 0;
} */

/* list_horizontal
---------- ---------- ---------- ---------- ---------- */

/* information_horizontal
---------- ---------- ---------- ---------- ---------- */
.information_horizontal .title_horizontal {
  display: block;
  font-size: 14px;
  word-break: break-all;
}

.information_horizontal .description_horizontal {
  margin: 6px 0 0 -6px;
}

.information_horizontal .description_horizontal > li {
  display: inline-block;
  margin-left: 6px;
  font-size: 12px;
  vertical-align: top;
}

/* group_grade
---------- ---------- ---------- ---------- ---------- */
/* .group_grade {
  padding: 0 12px;
} */

/* list_choice
---------- ---------- ---------- ---------- ---------- */

/* .list_choice.type_tax li {
  width: 33.33%;
}

.list_choice.type_smelt li {
  width: 33.33%;
} */

/* box_choice
---------- ---------- ---------- ---------- ---------- */
.box_choice {
  position: relative;
}

.box_choice .input_choice {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
}

.box_choice .label_choice {
  display: block;
  padding: 6px 0;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.4;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box_choice .input_choice:checked + .label_choice {
  background-color: #f1f1f1;
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

/* group_pagination
---------- ---------- ---------- ---------- ---------- */
.group_pagination {
  margin-top: 24px;
}

/* list_pagination
---------- ---------- ---------- ---------- ---------- */

/* footer
---------- ---------- ---------- ---------- ---------- */
.footer {
  padding: 12px 12px 80px 12px;
  background-color: #000;
}
